* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
}

    #navbar ul li a {
        font-size: large;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

#navbar {
    margin: 2vh;
}
